h1 {
	position: relative;

    font-family: 'times new roman', serif ;
       text-align: center;

  }
  h4{
  	position: relative;
    font-family: 'Vollkorn', serif ;
    text-align: center;

  }
.j1{
  	margin-top: 40px;
  }
.card{
	margin-bottom: 80px;
}
  
